{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="centered">
	<form method="post" action=".">
	  {{ form.as_p }}
	  {% csrf_token %}
	  <input type="submit" value="{% trans 'Log in' %}" id="log_in" />
	  <input data-skip-enhance="true" type="hidden" name="next" value="{{ next }}" />
	</form>
</div>
<p>{% trans "Not member" %}? <a href="{% url registration_register %}">{% trans "Register" %}</a>!</p>
<!-- <p>{% trans "Forgot password" %}? <a href="{% url auth_password_reset %}">{% trans "Reset it" %}</a>!</p>
<p>{% trans "Not member" %}? <a href="{% url registration_register %}">{% trans "Register" %}</a>!</p> -->
{% endblock %}