#content {
	width: 700px;
	margin:0px auto;
}

h1 {
	font-size: 18px;
}

.listdisplaylink:hover {color:#FF00FF;text-decoration:none;}
.listdisplaylink:active {color:#0000FF;text-decoration:none;}

.listdisplaybody:hover {background-color:#C7D1F0;}

.commentView { border-color:#8F8F8F}

.commentViewUser { font-weight: bold; }
.commentViewPlainText {font-weight: normal;}

.errorlist {
	color : red;
}

.buttons_bottom {
	padding-top : 2px;
}

.xf-button input {
	width:100%;
}

#header {background-color:#C7D1F0; height: 31px; }

#logoHolder {
float: left;
padding-left:20px;
}

#buttonHolder {
float: right;
padding-right:20px;
}

[data-role="button"]:hover, [data-role="button"]:active {
text-decoration:none;
}

#login_from_activated_holder {
margin:0px auto;
width:300px;
}

.align-right {
width:100%;text-align:right
}

#event_header { height: 65px; }

#event_title {
float: left;
}

#event_button {
float: right;
}

.detail_subtitle {
font-weight: bold;
}

