#content {
	width: 700px;
	margin:0px auto;
}

h1 {
	font-size: 18px;
}

.listdisplaylink:hover {color:#FF00FF;text-decoration:none;}
.listdisplaylink:active {color:#0000FF;text-decoration:none;}

.listdisplaybody:hover {background-color:#C7D1F0;}

.commentView { border-color:#8F8F8F}

.commentViewUser { font-weight: bold; }
.commentViewPlainText {font-weight: normal;}

#header {background-color:#C7D1F0; height: 31px; }

#logoHolder {
float: left;
padding-left:20px;
}

.errorlist {
	color : red;
}

.xf-button input {
	width:100%;
}

#buttonHolder {
float: right;
padding-right:20px;
}

[data-role="button"]:hover, [data-role="button"]:active {
text-decoration:none;
}

#login_from_activated_holder {
margin:0px auto;
width:300px;
}

#user_preferences p {
	margin: 0 0 12px 0;
	padding: 0;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 1px;
	-moz-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 1px;
	box-shadow: rgba(0, 0, 0, 0.1) 0 1px 1px;
	counter-reset: listnumbering;
	border: 1px solid black;
}

#user_preferences label {
	border-top-color: #383D40;
	border-top-width: 1px;
	-moz-border-radius-topleft: 8px;
	-webkit-border-top-left-radius: 8px;
	border-top-left-radius: 8px;
	-moz-border-radius-topright: 8px;
	-webkit-border-top-right-radius: 8px;
	border-top-right-radius: 8px;
	background-color: #555C60;
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, #717A80 0%, #383D40 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #717A80), color-stop(100%, #383D40));
	background-image: -webkit-linear-gradient(top, #717A80 0%, #383D40 100%);
	background-image: -o-linear-gradient(top, #717A80 0%, #383D40 100%);
	background-image: -ms-linear-gradient(top, #717A80 0%, #383D40 100%);
	background-image: linear-gradient(top, #717A80 0%, #383D40 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#717a80', endColorstr='#383d40', GradientType=0);
	color: white;
	border-left-color: black;
	border-right-color: black;
	padding: 4px 4px 4px 11px;
	font-weight: bold;
	counter-reset: listnumbering;
	position: relative;
	border-top-width: 0;
	margin: 0;
	list-style: none;
}