{% extends "base.html" %}
{% load url from future %}

{% block content %}

<nav>
	<a href="{% url 'export' event.id %}">Export event to calendar</a>
	{% if is_managing %}
		<a href="{% url 'edit' event.id %}">Edit event</a>
	{% endif %}
</nav>

<p>
	<span><h3>{{ event.name }}</h3></span>
	<span>{{event.description}}</span>
	<span>{{event.start_datetime}} to {{event.end_datetime}}</span>
	
	<h1>Attendees</h1>
	<ul>
	{% for attendee in attendees %}
		<li>
			{{ attendee.user }}
		</li>
	{% endfor %}
	</ul>
	
	{% if is_attending %}
		<h2>Comments</h2>
			<form action="{% url 'comment' event.id %}" method="post">
			{% csrf_token %}
			{{ comment_form.as_p }}
			<input type="submit" value="Submit Comment" />
		</form>

		{% if comments %}
		<ul class="comments">
		{% for comment in comments %}
			<li>
				<strong>{{comment.user}} says:</strong>
				<br />
				{{comment.comment}}
				<br />
			{{comment.created_datetime|timesince}} ago
			</li>
		{% endfor %}
		</ul>
	{% endif %}
	
{% endif %}
	
</p>

{% endblock %}