{% extends "base.html" %}
{% load url from future %}

{% block content %}
	<span><h1>{{ event.name }}</h1></span><br>
	<span>{{event.description}}</span><br><br>
	<span>Location : {{event.location}}</span><br><br>
	<span>Duration : {{event.start_datetime}} to {{event.end_datetime}}</span><br><br>
	</li>
	<h1>Attendees</h1>
	<ul>
	{% for attendee in attendees %}
		<li>
			{{ attendee.user }}
		</li>
	{% endfor %}
	</ul>
	<h1>Comments</h1>
	<ul data-role="listview">
	{% for comment in comments %}
	<li class="commentView">
			<span class="commentViewUser">{{comment.user}} says:</span>
			<br />
			<span class="commentViewPlainText">{{comment.comment}}</span>
			<br />
			<span class="commentViewPlainText">{{comment.created_datetime|timesince}} ago</span>
	</li>
	{% endfor %}
	</ul>
</p>

{% endblock %}