{% extends "base.html" %}
{% load url from future %}

{% block content %}
	<span><h1>{{ event.name }}</h1></span>
	<span>{{event.description}}</span><br>
	<span>{{event.location}}</span><br>
	<span>{{event.start_datetime}} to {{event.end_datetime}}</span>
	</li>
	<h1>Attendees</h1>
	<ul>
	{% for attendee in attendees %}
		<li>
			{{ attendee.user }}
		</li>
	{% endfor %}
	</ul>
	<h1>Comments</h1>
	{% for comment in comments %}
	<li>
		<p>
			<strong>{{comment.user}} says:</strong>
			<br />
			{{comment.comment}}
			<br />
			{{comment.created_datetime|timesince}} ago
		</p>
	</li>
	{% endfor %}
	
</p>

{% endblock %}