{% extends "base.html" %}
{% load url from future %}

{% block content %}
<h1>Events</h1>
	{% for event in events %}
	<a class="listdisplaylink" href="{% url 'detail' event.id %}">
	<ul data-role="listview">
	<li data-role="divider">
		
		<span><h3>{{ event.name }}</h3></span>		

	</li>
	<li class="listdisplaybody">
		
		<span>{{event.description}}</span><br>
		<span>{{event.location}}</span><br>
		<span>{{event.start_datetime}} to {{event.end_datetime}}</span>
		
	</li>
	</ul>
	</a>
	{% endfor %}
	
	
	
{% endblock %}