{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html>
	<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
	<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
	<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
	<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>Events@EPAM</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width">
		<link rel="stylesheet" href="{% get_static_prefix %}css/bootstrap.min.css">
		<link rel="stylesheet/less" type="text/css" href="{% get_static_prefix %}css/styles/xf.less">
		<script src="{% get_static_prefix %}js/lib/jquery-1.7.1.min.js"></script>
		<script src="{% get_static_prefix %}js/lib/underscore.js"></script>
		<script src="{% get_static_prefix %}js/lib/iscroll-lite.js"></script>
		<script src="{% get_static_prefix %}js/lib/helper.js"></script>
		<script src="{% get_static_prefix %}js/xf.js"></script>
		<script src="{% get_static_prefix %}js/less.js"></script>
	</head>
	<body>
		<div id="content" class="container-narrow">
			{% block content %}{% endblock %}
		</div>
	
		{% block content_scripts %}{% endblock %}
	</body>
	<script>
	
	$(document).ready(function() {		
			XF.UIElements.enhanceView($('body'));
		});
	</script>
</html>